*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto";
}

html, body{height: 100%;}

.sidebar{
    float: left;
    width: 250px;
    padding: 10px 10px;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    background-color: black;
}

.sidebar-wraper{
    padding-bottom: 200px;
}

.sidebar-menu{
    margin: 20px 0;
    color: rgb(190, 190, 190);
}

.sidebar-logo img{
    max-width: 250px;
    width: 100%;
}

.sidebar-menu a{
    color: rgb(190, 190, 190);
    text-decoration: none;
    display: block;
    padding: 10px 0;
}

.sidebar-menu svg{
    margin:0 20px;
}

.sidebar-menu a.sidebar-menu-selected{
    color: rgb(255, 255, 255);
    background-color: rgb(80, 80, 80);
    border-radius: 5px;
    padding-left: 5px;
}

.sidebar-menu-item{
    margin-top: 12px;
    cursor: pointer;
    vertical-align: middle;
}

.sidebar-menu p.sidebar-menu-title{
    color: whitesmoke;
    text-transform: uppercase;
    font-size: 14px;
}

.sidebar-menu-item-component{
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    display: inline-block;
    color: black;
    font-weight: bold;
    background-color: white; 
}

.sidebar-menu-item span{
    font-weight: bold;
    font-size: 14px;
    padding:0 10px;
}

.sidebar-menu-item img{
    width: 30px;
    height: 30px;
    vertical-align: middle;
    display: inline-block;
}

.sidebar-playlists{
    padding:20px 0;
    border-top: 1px solid rgb(40, 40, 40);
}

.sidebar-playlists a{
    margin: 10px 0;
    display: block;
    color: rgb(190, 190, 190);
    text-decoration: none;
}

.sidebar-playlists a:hover{
    color: white;
}

/* main */

.main{
    width: calc(100% - 250px);
    background-color: rgb(30, 30, 30);
    height: 100%;
    float: left;
    padding: 15px 50px;
    overflow-y: ;
}

.main-row{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 40px;
}

.main-wraper{
    padding-bottom: 200px;
}

.main-row-title{
    width: 100%;
}

.main-row-title h2{
    color: white;
}